{% extends "dashboard/base.html" %}
{% load widget_tweaks %}
{% block title %}
{% if professional %}Modifier{% else %}Nouveau{% endif %} Professionnel
{% endblock %}

{% block content %}
<div class="bg-white shadow-lg rounded-lg p-6">
    <h1 class="text-2xl font-bold mb-6">
        {% if professional %}Modifier{% else %}Nouveau{% endif %} Professionnel
    </h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ field.id_for_label }}">
                {{ field.label }}
            </label>
            {{ field.errors }}
            {{ field|add_class:"input input-bordered w-full" }}
        </div>
        {% endfor %}
        <div class="flex justify-end mt-6">
            <button type="submit" class="btn btn-primary">
                Enregistrer
            </button>
        </div>
    </form>
</div>
{% endblock %}
